.container{
    /* border: 1px solid red; */
    height: 60vh;
    background-color: #f8fcfc;
    padding-left: 10rem;
    padding-right: 10rem;
}
.container h1{
    text-transform: uppercase;
    text-align: center;
    /* padding: 0 50px 0 50px; */
    font-size: 5em;
    font-weight: 700;
    font-family: none;
}
.image{
    margin-top: -12rem;
    text-align: center;
}